* {
    color: gainsboro;
}

html{
    margin: 0;
    height: 100vh;
}

#random {
    background-image: url(img/lightning-7401119_1280.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
    height: 80vh;
}

.navSection {
    background-color: rgba(13, 13, 13, 0.8);
    text-align: center;
    margin: 5% 30% 5% 30%;
    padding: 5% 4% 5% 4%;
    border-radius: 10px;
}
.navSection h3{
    margin-bottom: 10%;
}
.navSection img{
    width: 64px;
    height: 64px;
    object-fit: cover;
}
a{
    text-decoration: none;
}
.button {
    color: rgb(215, 215, 215);
    margin: 0 auto;
    display: block;
    background-image: radial-gradient(100% 100% at 100% 0, #2dbce3 0, #4054eb 100%);
    border-style: none;
    padding: 14px 16px 14px 16px;
    width: 45%;
    margin-bottom: 15px;
    border-radius: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    box-shadow: rgba(58, 65, 111, .5) 0 -3px 0 inset;
    /*Transition*/
    transition: box-shadow .2s,transform .2s;
}
.button:hover {
    transform: translateY(-2px);
    cursor: pointer;
}

.button:focus{
    color: radial-gradient(100% 100% at 100% 0, #1f84a0 0, #273493 100%);
}

.goback{
    position: relative;
    right: 30%;
    color: rgb(217, 47, 47);
    border-style: solid;
    border-color: rgb(217, 47, 47);
    padding: 14px 16px 14px 16px;
    width: auto;
    background: none;
    border-radius: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.restart{
    position: relative;
    left: 30%;
    color: rgb(217, 47, 47);
    border-style: solid;
    border-color: rgb(217, 47, 47);
    padding: 14px 16px 14px 16px;
    width: auto;
    background: none;
    border-radius: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.goback:hover{
    background-color: rgb(217, 47, 47);
    color: rgb(22, 22, 22);
}
.restart:hover{
    background-color: rgb(217, 47, 47);
    color: rgb(22, 22, 22);
}
.opponent{
    display: flex;
    background-color: rgba(13, 13, 13, 0.8);
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 2% 5% 0 5%;
    height: 150px;
}
.opponent img{
    height:200px;
    border-radius: 20px;
    border: #fff;
    border-width: 5px;
}
.opponent p{
    margin: 3%;
    font-size: 32px;
    font-weight: 500;
}

#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}

.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;

    font-family: "Permanent Marker", cursive;
    text-align: center;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -10px;
}

footer {
    width: 100%;
    height: 50px;
    padding: 10px;
    background: rgba(25, 25, 25, 0.8);
}
